<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast for {{ forecast.city.name }}</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Weather Forecast for {{ forecast.city.name }}</h1>
    <ul>
        {% for item in forecast.list[:5] %}
        <li>
            <p>{{ item.dt_txt }}: {{ item.weather[0].description.capitalize() }}</p>
            <p>Temperature: {{ item.main.temp }} &deg;{{ 'F' if units == 'imperial' else 'C' }}</p>
        </li>
        {% endfor %}
    </ul>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City">
        <label for="units">Select Units:</label>
        <select name="units" id="units">
            <option value="imperial" {% if units == 'imperial' %}selected{% endif %}>Fahrenheit</option>
            <option value="metric" {% if units == 'metric' %}selected{% endif %}>Celsius</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

